.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    margin-left: -8;
}

.sticky + .content {
    padding-top: 20px;
  }

nav {
    overflow: hidden;
    background-color: #000000;
    min-height: 12vh;
    min-width: 100vw;
    float: left;
    margin-left: -8;
    position: relative;
    background-position: -8;
    padding-left: 1vw;
}

nav li {
    float: left;
    display: block;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

nav a {
    color: rgb(255, 255, 255)
}

#inspect {
    align-content: flex-start;
    height: 40vh;
    width: auto;
    border-color: black;
    border-width: 3px;
}

#devConsole {
    align-content: flex-start;
    height: 40vh;
    width: auto;
}